@using Survey_Managment.ViewModel;

@if (Type == "RatedByPoints")
{
    <MudRating SelectedValue="5"
               MaxValue="10"
               FullIcon="@Icons.Material.Filled.Favorite"
               EmptyIcon="@Icons.Material.Filled.FavoriteBorder"
               Color="Color.Secondary" />
}
@if (Type == "FreeAnswer")
{
    <MudTextField T="string" Label="Respuesta Libre" Variant="Variant.Outlined" Lines="5" />
}
@if (Type == "MultipleChoice")
{
    <MudForm>
        <MudRadioGroup @bind-Value="SelectedOption">
            @foreach (var option in Options)
            {
                <MudRadio Value="@(option.Option)" Color="Color.Info">@option.Option</MudRadio>
            }
        </MudRadioGroup>
    </MudForm>
}

@if (Type == "MultipleAnswer")
{
    <div class="d-flex">
        @foreach (var option in Options)
        {
            <MudCheckBox @bind-Value="@option.IsSelected" Color="Color.Secondary" UncheckedColor="Color.Default">@option.Option</MudCheckBox>
        }
    </div>
}

@code {
    [Parameter]
    public string? Type { get; set; }
    [Parameter]
    public ICollection<OptionModel>? Options { get; set; }

    public string SelectedOption { get; set; }
}
